.skills {
  height: 400px;
}
.habilidades {
  margin: 30px 0;
  text-align: center;
}
.container-habilidades{
  display: flex;
  align-items: center;
  justify-content: center;
}
.frontend {
  height: 300px;
}
.backend{
  height: 300px;
  margin-left: 60px;
}