.background {
  text-align: center;
  background-color: #6cbdb5;
  height: 100vh;
  overflow: hidden;
}
.imageProfile {
 padding-top: 20px;
}
.imageProfile > img {
 border-radius: 100px;
}
.nome {
  margin: 20px;
}
.projetos{
  margin: 20px;
}
.container {
  width: 130px;
  margin: auto;
  margin-bottom: 10px;
}
.container > a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.container > a > span {
  font-size: large;
}
.projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.containerProjects{
  background-color: white;
  border: 1px solid black;
  margin-left: 10px;
}
.containerProjects > h3 {
  margin: 10px;
}
.techs {
  display: flex;
  justify-content: center;
  width: 200px;
  flex-wrap: wrap;
}

.footer{
  margin-top: 100px;
}
#root {
  background-color: black;
}